/* #paragraf1 {
    color: blue;
} */

/* .paragraf {
    color: red;
}

p {
    columns: blue;
} */

/* .paragraf1 {
    color: pink;
}

.paragraf2 {
    color: green;
}

#paragraf3 {
    color: red;
} */

/* p#paragraf1.paragraf {
    color: blue;
} */

/* p {
    /* color: #000000; */
    /* color: rgb(255,0,0); */
    /* color: hsl(120, 100%, 50%);
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: blue;
} */

/* div {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border-top-style: solid;
    border-color: black;
    border-top-width: 10px;
    background-color: cyan;
    margin-bottom: 50px;
}

.div2 {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border-top-style: solid;
    border-color: black;
    border-top-width: 10px;
    background-color: cyan;
} */
